name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-latest-arm, macos-15-intel, macos-latest, windows-2022]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3

      - uses: actions/upload-artifact@v4
        with:
          name: spherogram_${{matrix.os}}_wheels
          path: ./wheelhouse/*.whl
