name: sage-test

on: [push, pull_request]


jobs:
  test:
    name: Test on Sage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 10.1, 10.2, 10.3, 10.4, 10.5, 10.6, 10.7, latest]
      fail-fast: false

    container:
      image: sagemath/sagemath:${{ matrix.version }}
      options: --user root

    steps:
      - name: Sage version
        run: sage --version

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install snappy_manifolds
        run: sage -pip install -U https://github.com/3-manifolds/snappy_manifolds/archive/master.zip

      - name: Install spherogram
        run: |
          sage -pip install wheel
          cd /__w/Spherogram/Spherogram
          sage -python setup.py pip_install

      - name: Test spherogram
        run: sage -python -m spherogram.test
